Metropolitan Cemeteries Board of Western Australia.
<em>
    Summary Of Record Information, Application Number
    <a href="{{shortcode.attrs.url}}">{{shortcode.attrs.id}}</a>.
</em>
First name: {{shortcode.attrs.first_name}}.
Last name: {{shortcode.attrs.last_name}}.
Aged: {{shortcode.attrs.aged}}.
Date of death: {{shortcode.attrs.date_of_death}}.
Suburb: {{shortcode.attrs.suburb}}.
Cemetery: {{shortcode.attrs.cemetery}}.
Area or denomination: {{shortcode.attrs.area}}.
Section: {{shortcode.attrs.section}}.
Gravesite: {{shortcode.attrs.gravesite}}.
Record accessed: {{shortcode.attrs.access_date}}.
