<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.metadata.title }} :: {{ site.title }}</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ page.link('/assets/style.css') }}" />
    <link rel="canonical" href="{{ site.config.url }}{{ page.id }}.html" />
    <meta property="og:url" content="{{ site.config.url }}{{ page.id }}.html" />
    <meta property="og:title" content="{{ page.metadata.title|e('html_attr') }}" />
    <meta property="twitter:title" content="{{ page.metadata.title|e('html_attr') }}" />
    {% if page.metadata.description is defined and page.metadata.description %}
        <meta name="description" content="{{ page.metadata.description|e('html_attr') }}">
        <meta property="og:description" content="{{ page.metadata.description|e('html_attr') }}" />
        <meta name="twitter:description" content="{{ page.metadata.description|e('html_attr') }}">
    {% endif %}
    <meta name="twitter:creator" content="@samwilson" />
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{page.link('/index')}}.html">{{site.title}}</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if page.id == '/index' %}active{% endif %}"><a class="nav-link" href="{{page.link('/index')}}.html">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.link('assets/book.pdf') }}" title="Download PDF of the book">
                            Book<img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Adobe_PDF_icon.svg" height="16" alt="PDF file type icon" />
                        </a>
                    </li>
                    <li class="nav-item {% if page.id == '/tags' %}active{% endif %}">
                        <a class="nav-link" href="{{ page.link('/tags') }}.html">Tags</a>
                    </li>
                    <li class="nav-item {% if page.id == '/map' %}active{% endif %}">
                        <a class="nav-link" href="{{ page.link('/map') }}.html">Map</a>
                    </li>
                    <li class="nav-item {% if page.id == '/items' %}active{% endif %}">
                        <a class="nav-link" href="{{ page.link('/items') }}.html">Items</a>
                    </li>
                    <li class="nav-item {% if page.id == '/storage-locations' %}active{% endif %}">
                        <a class="nav-link" href="{{ page.link('/storage-locations') }}.html">Storage locations</a>
                    </li>
                </ul>
                <span class="mr-3">
                    <a class="btn btn-outline-danger" title="Tell us about anything wrong with this website!"
                       href="https://github.com/samwilson/hmw/issues/new?title={{ '[Website error]'|e('url') }}&body={{ '
Error reported via: ' ~ site.config.url ~ page.id ~ '.html

[Please provide as much information as possible. You can delete this line.]

'|e('url') }}">
                        Report error
                    </a>
                </span>
                <form action="https://duckduckgo.com/" method="get" id="search-form" class="form-inline my-2 my-lg-0">
                    <input type="hidden" name="sites" value="{{ site.config.url }}" /><!-- This site only -->
                    <input type="hidden" name="kn" value="-1" /><!-- No new window -->
                    <input type="hidden" name="kp" value="-2" /><!-- No safe search -->
                    <label for="search" class="sr-only">Search this site:</label>
                    <input type="search" id="search" name="q" placeholder="Search&hellip;" class="form-control mr-sm-2" />
                    <input type="submit" value="Go" class="btn btn-outline-secondary my-2 my-sm-0" />
                </form>
            </div>
        </nav>
    </header>
    <main class="container-fluid flex-shrink-0 mt-4">
        {% block main %}
            <h2>{% if page.metadata.title is defined %}{{ page.metadata.title }}{% else %}Untitled{% endif %}</h2>
            {{ page.body|md2html|raw }}
        {% endblock %}
    </main>
    <footer class="footer mt-auto py-3 container-fluid">
        <p class="text-right small">
            &bull;
            <a href="https://github.com/samwilson/hmw/edit/master/content{{ page.id }}{{ site.ext }}">Edit this page</a>
            &bull;
            <a href="https://github.com/samwilson/hmw/issues">Website issues</a>
            &bull;
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
