{% macro date(datetime, precision) %}

    {% if not instanceof(datetime,'\DateTime') %}
        {% set datetime = date_create(datetime) %}
    {% endif %}

    <time datetime="{{ datetime.format('c') }}" itemprop="dateCreated">
        {% if precision == 'circa' %}
            <abbr title="circa">c.</abbr>&nbsp;{{ datetime.format('Y') }}
        {% elseif precision == 'year' %}
            {{ datetime.format('Y') }}
        {% elseif precision == 'month' %}
            {{ datetime.format('Y F') }}
        {% else %}
            {{ datetime.format('Y F j l') }}
        {% endif %}
    </time>
{% endmacro %}

{% macro gallery_item(site, page, item) %}

    <a href="{{ page.link(item.id) }}.html" title="View details of this item" class="figure col-md-2 item-figure">
        <figure>
            {% set imgSrc = site.config.img_placeholder %}
            {% set images = json_decode(item.images) %}
            {% if images.0.commons is defined %}
                {% set imgSrc = commons(images.0.commons).imageinfo.0.thumburl %}
            {% elseif images.0.flickr is defined %}
                {% set imgSrc = flickr(images.0.flickr).urls.medium_image %}
            {% endif %}
            <img src="{{ imgSrc|escape('html_attr') }}" class="figure-img img-fluid rounded" alt="" />
            <figcaption class="figure-caption text-center">
                <strong><em>Item {{ item.id|basename }}</em> &ndash; {{ item.title }}</strong>{% if item.date %},
                {{ _self.date(item.date, item.date_precision) }}
                {% endif %}
                {% if item.storage_location %}
                    <em class="storage-location" title="Storage location">
                        ({{ item.storage_location }}{% if item.storage_location_key %}-{{ item.storage_location_key }}{% endif %})
                    </em>
                {% endif %}
            </figcaption>
        </figure>
    </a>

{% endmacro %}

{% macro utterances() %}
    <script src="https://utteranc.es/client.js"
            data-repo="samwilson/hmw"
            data-issue-term="pathname"
            data-label="comment"
            data-theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
{% endmacro %}
