{% macro date(datetime, precision) %}

    {% if not instanceof(datetime,'\DateTime') %}
        {% set datetime = date_create(datetime) %}
    {% endif %}

    <time datetime="{{ datetime.format('c') }}" itemprop="dateCreated">
        {% if precision == 'circa' %}
            <abbr title="circa">c.</abbr>&nbsp;{{ datetime.format('Y') }}
        {% elseif precision == 'year' %}
            {{ datetime.format('Y') }}
        {% elseif precision == 'month' %}
            {{ datetime.format('Y F') }}
        {% else %}
            {{ datetime.format('Y F j l') }}
        {% endif %}
    </time>
{% endmacro %}

{% macro image(image, link = true, class = '', format = 'html') %}
    {% set img_src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Noun_Project_unknown_icon_762411_cc.svg/480px-Noun_Project_unknown_icon_762411_cc.svg.png' %}
    {% set img_href = '' %}
    {% set width = null %}
    {% if image.width is defined %}
        {% set width = image.width %}
    {% endif %}
    {% set height = null %}
    {% if image.height is defined %}
        {% set height = image.height %}
    {% endif %}

    {% if image.commons is defined %}
        {% set commons = commons(image.commons) %}
        {% set img_src = commons.imageinfo.0.thumburl %}
        {% set img_href = commons.imageinfo.0.descriptionurl %}
        {% set width = commons.imageinfo.0.thumbwidth %}
        {% set height = commons.imageinfo.0.thumbheight %}

    {% elseif image.flickr is defined %}
        {% set flickr = flickr(image.flickr) %}
        {% set img_src = flickr.urls.medium_image %}
        {% set img_href = flickr.urls.photopage %}

    {% elseif image.ia is defined and image.ia != '' %}
        {% if image.ia_leaf is defined %}
            {% set img_href = 'https://archive.org/details/' ~ image.ia ~ '/page/n' ~ image.ia_leaf ~ '/mode/1up' %}
            {% set img_src = 'https://archive.org/download/' ~ image.ia ~ '/page/leaf' ~ image.ia_leaf ~ '_w1000.jpg' %}
        {% else %}
            {% set img_href = 'https://archive.org/details/' ~ image.ia %}
            {% set img_src = 'https://archive.org/download/' ~ image.ia ~ '/' ~ ( image.ia_file | default( '__ia_thumb.jpg' ) ) %}
        {% endif %}

    {% endif %}

    {% set img_width = 500 %}
    {% set img_height = null %}
    {% if width and height %}
        {% set ratio = width / img_width  %}
        {% set img_height = height / ratio  %}
    {% endif %}

    {% if format == 'html' %}
        {% if link %}<a href="{{ img_href }}">{% endif %}
        <img src="{{ img_src }}" width="{{ img_width }}" height="{{img_height}}" class="{{ class }}" />
        {% if link %}</a>{% endif %}
        <span class="printonly"><br /><code>{{ img_href }}</code></span>
    {% else %}
        \includegraphics[{% if width < height %}height=0.45\textheight{% else %}width=0.7\textwidth{% endif %}]{{'{'}}{{ tex_url(img_src)|raw }}{{'}'}}
    {% endif %}
{% endmacro %}

{% macro gallery_item(site, page, item) %}

    <a href="{{ page.link(item.id) }}.html" title="View details of this item" class="figure col-md-2 item-figure text-center">
        <figure>
{#            {% set imgSrc = site.config.img_placeholder %}#}
{#            {% if item.image is defined and item.image %}#}
{#                {% set imgSrc = item.image %}#}
{#            {% else %}#}
{#                {% set images = json_decode(item.images) %}#}
{#                {% if images.0.commons is defined %}#}
{#                    {% set imgSrc = commons(images.0.commons).imageinfo.0.thumburl %}#}
{#                {% elseif images.0.ia is defined %}#}
{#                    {% set imgSrc = 'https://archive.org/download/' ~ images.0.ia ~ '/' ~ ( images.0.ia_file | default( '__ia_thumb.jpg' ) ) %}#}
{#                {% elseif images.0.flickr is defined and images.0.flickr %}#}
{#                    {% set imgSrc = flickr(images.0.flickr).urls.medium_image %}#}
{#                {% endif %}#}
{#            {% endif %}#}
            <figcaption class="figure-caption">
                <strong><em>Item {{ item.id|basename }}</em> &ndash; {{ item.title }}</strong>{% if item.date %},
                {{ _self.date(item.date, item.date_precision) }}
                {% endif %}
                {% if item.storage_location %}
                    <em class="storage-location" title="Storage location">
                        ({{ item.storage_location }}{% if item.storage_location_key %}-{{ item.storage_location_key }}{% endif %})
                    </em>
                {% endif %}
            </figcaption>
            {% set images = json_decode(item.images, true) %}
            {{ _self.image( images.0|default({}), false, 'figure-img img-fluid rounded' ) }}
            {#            <img src="{{ imgSrc|escape('html_attr') }}" class="figure-img img-fluid rounded" alt="" style="view-transition-name: item-image" />#}
        </figure>
    </a>

{% endmacro %}

{% macro utterances() %}
    <div class="clearfix noprint"></div>
    <div class="noprint">
        <script src="https://utteranc.es/client.js"
                data-repo="samwilson/hmw"
                data-issue-term="pathname"
                data-label="comment"
                data-theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </div>
{% endmacro %}

{% macro page_qrcode(site, page) %}
    <p class="qrcode">
        <a href="{{ site.config.url~page.id~'.html' }}" title="Permanent and stable URL for this page">
            <img src="{{ page.link(qrcode(site.config.url~page.id~'.html')) }}" alt="QR code" />
            Permalink
        </a>
    </p>
{% endmacro %}

{% macro reflist(page) %}
    {% if page.metadata.references is defined and page.metadata.references %}
        <section class="macros-reflist">
            <h2>References</h2>
            <ol>
                {% set refnum = 1 %}
                {% for k,v in page.metadata.references %}
                    <li value="{{refnum}}">{{v|md2html|raw}}</li>
                    {% set refnum = refnum + 1 %}
                {% endfor %}
            </ol>
        </section>
    {% endif %}
{% endmacro %}
