{% extends '_base.html.twig' %}

{% block main %}

    <article>
        <figure class="float-left d-none d-lg-block mr-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Coat_of_arms_of_the_Hall_family.jpg/200px-Coat_of_arms_of_the_Hall_family.jpg"
                 alt="Coat of arms of the Hall family."
                 class="img-fluid" />
        </figure>
        <h1>Welcome to the H.M. Wilson Archives</h1>
        <p>
            This site comprises a family tree and associated biographies of
            the ancestors of H. Margaret Wilson's children and the descendants of her grandparents,
            and indexes to archival material (such as photographs and letters) relating to these people and their wider families.
        </p>
        <p>
            Currently, the archive holds
            <a href="{{ page.link('/people/index') }}.html">
                {{ database.query('select count(*) from pages where template = "person"').fetchColumn }}
                people</a>, and
            <a href="{{ page.link('/items') }}.html">
                {{ database.query('select count(*) from pages where template = "item"').fetchColumn }}
                items</a>,
            which are stored in
            <a href="{{ page.link('/storage-locations') }}.html">
                {{ database.query('select count(*) from (select 1 from pages where storage_location is not null group by storage_location)').fetchColumn }}
                locations</a>.
        </p>

        <p>The following people have articles on English Wikipedia:</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/William_Shakespeare_Hall">William Shakespeare Hall</a></li>
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/George_Walpole_Leake">George Walpole Leake</a></li>
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/Garrick_Agnew">Robert David Garrick Agnew</a></li>
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/Andrew_Wilson_%28architect%29">Andrew Oswald Wilson</a></li>
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/George_Lazenby_(cabinetmaker)">George Lazenby</a></li>
            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/Frederick_Teesdale">Frederick William Teesdale</a></li>
        </ul>

        <p>
            <a href="{{ page.link('/assets/tree.pdf') }}" title="View PDF version of the tree">
                <img src="{{ page.link('/assets/tree.png') }}" alt="Family tree diagram." class="img-fluid" />
            </a>
        </p>

        <h3>Contributions</h3>
        <p>
            Everyone is invited to contribute to all of this, via
            <a href="https://github.com/samwilson/hmw">
                github.com/samwilson/hmw</a>.
            If you find any errors, please
            <a href="https://github.com/samwilson/hmw/issues">report them</a>.
        </p>
        <p>
            All content (unless otherwise specified) is released under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
        <p class="hidden-xs">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons Licence"
                     src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
        </p>
    </article>

{% endblock %}
