{% extends '_base.html.twig' %}

{% block main %}
    {% import '_macros.twig' as macros %}

    <h1>Items</h1>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Wikidata</th>
        </tr>
        </thead>
        <tbody>
            {% for item in database.query('select * from pages where template="item" order by date asc') %}
                <tr>
                    <td>{{ item.id|basename }}</td>
                    <td><a href="{{ page.link(item.id) }}.html">{{ item.title }}</a></td>
                    <td>
                        {% if item.date %}
                            {{ macros.date(item.date, item.date_precision) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.wikidata %}
                            <a href="https://www.wikidata.org/wiki/{{item.wikidata}}">{{item.wikidata}}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
