{% extends '_base.html.twig' %}

{% block head %}
    {% if page.metadata.images.0 is defined %}
        {% if page.metadata.images.0.commons is defined %}
            {% set imgSrc = commons(page.metadata.images.0.commons).imageinfo.0.thumburl %}
        {% elseif page.metadata.images.0.flickr is defined %}
            {% set imgSrc = flickr(page.metadata.images.0.flickr).urls.medium_image %}
        {% endif %}
        {% if imgSrc is defined %}
            <meta property="og:image" content="{{ imgSrc|escape('html_attr') }}" />
            <meta name="twitter:card" content="summary_large_image">
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}
    {% import '_macros.twig' as macros %}
    <div itemscope itemtype="http://schema.org/{{ page.metadata.itemtype ?? 'ArchiveComponent' }}" class="item">

        <h1 itemprop="name" class="text-center">{{ page.metadata.title }}</h1>

        <div class="row">

            <div class="col-md-5 main-image">
                {% if page.metadata.image is defined %}
                    <img src="{{ page.metadata.image }}" class="img-fluid mr-2 mb-2" />
                {% elseif page.metadata.commons is defined %}
                    {% include 'embeds/commons.html.twig' with { embed: { matches: { 1: page.metadata.commons } } } %}
                {% elseif page.metadata.images.0 is defined %}
                    {% set imgSrc = site.config.img_placeholder %}
                    {% if page.metadata.images.0.commons is defined %}
                        {% set imgSrc = commons(page.metadata.images.0.commons).imageinfo.0.thumburl %}
                    {% elseif page.metadata.images.0.flickr is defined %}
                        {% set imgSrc = flickr(page.metadata.images.0.flickr).urls.medium_image %}
                    {% endif %}
                    <img alt="Main image for this item." src="{{ imgSrc|escape('html_attr') }}" class="img-fluid mr-2 mb-2" />
                {% endif %}
            </div>

            <div class="col-md-7">
                {{ macros.page_qrcode(site, page) }}
                <p>
                    <strong>Item number:</strong>
                    <span itemprop="identifier">{{ page.id|basename }}</span>
                </p>

                {% if page.metadata.parent_item is defined and page.metadata.parent_item %}
                    <p>
                        <strong>Parent item:</strong>
                        {% set parent_item = database.query('SELECT * FROM pages WHERE id = "/items/'~page.metadata.parent_item~'"').fetch() %}
                        <a href="{{ page.link(parent_item.id) }}.html">{{ parent_item.title }}</a>
                        (#{{ parent_item.id|basename }})
                    </p>
                {% endif %}

                {% if page.metadata.date is defined and page.metadata.date %}
                    <p>
                        <strong>Date:</strong>
                        {{ macros.date(page.metadata.date, page.metadata.date_precision) }}
                    </p>
                {% endif %}

                <p>
                    <strong>Storage location:</strong>
                    {% if page.metadata.storage_location %}
                        {% set sl = database.query('select * from pages where id = "/storage-locations/'~page.metadata.storage_location~'"').fetch %}
                        <a href="{{ page.link(sl.id) }}.html" itemprop="itemLocation">{{ sl.title }}</a>
                        {% if page.metadata.storage_location_key is defined and page.metadata.storage_location_key %}
                            <span title="Order in which this item appears in the storage location">
                                ({{ page.metadata.storage_location_key }})
                            </span>
                        {% endif %}
                    {% endif %}
                </p>

                {% if page.metadata.people is defined %}
                    <p>
                        <strong>People:</strong><br />
                        &middot;
                        {% for p in page.metadata.people %}
                            {% set person = database.query('SELECT * FROM pages WHERE id = "/people/'~p~'"').fetch() %}
                            {% if person %}
                                <a href="{{ page.link(person.id) }}.html">{{ person.title }}</a>
                            {% else %}
                                {{ p }}
                            {% endif %}
                            &middot;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if page.metadata.tags is defined and page.metadata.tags %}
                    <p>
                        <strong>Tags:</strong><br />
                        &middot;
                        {% for t in page.metadata.tags %}
                            {% set tag = database.query('SELECT * FROM pages WHERE id = "/tags/'~t~'"').fetch() %}
                            {% if tag %}
                                {% if tag.wikidata %}
                                    <span itemscope itemtype="http://schema.org/Thing" class="tag">
                                        <meta itemprop="url" content="https://www.wikidata.org/wiki/{{ tag.wikidata }}">
                                        <a href="{{ page.link(tag.id) }}.html" rel="tag" itemprop="sameAs">
                                            {{ tag.title }}
                                        </a>
                                    </span>
                                {% else %}
                                    <a class="tag" href="{{ page.link(tag.id) }}.html" rel="tag">{{ tag.title }}</a>
                                {% endif %}
                                &middot;
                            {% elseif t %}
                                <span class="tag">{{ t }}</span>
                                &middot;
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}

                {% if page.metadata.description is defined and page.metadata.description %}
                    <strong>Description:</strong>
                    <div itemprop="description">{{ page.metadata.description|md2html|raw }}</div>
                {% endif %}

                {% if page.metadata.author is defined and page.metadata.author %}
                    <p>
                        <strong>Author:</strong>
                        <span itemprop="author">{{ page.metadata.author }}</span>
                    </p>
                {% endif %}

                <p>
                    {% if page.metadata.license == 'cc-by' %}
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" width="80" height="15" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
                        This work is licensed under a
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                    {% elseif page.metadata.license == 'pd' %}
                        <span xmlns:dct="http://purl.org/dc/terms/">
                            <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">
                                <img src="https://licensebuttons.net/p/mark/1.0/80x15.png"
                                     alt="Public Domain Mark" width="80" height="15" />
                            </a>
                            This work is free of known copyright restrictions and is in the public domain.
                        </span>
                    {% elseif page.metadata.license == 'copyright' %}
                        &copy;
                        {% if page.metadata.date is defined and page.metadata.date %}
                            {{ macros.date(page.metadata.date, 'year') }}
                        {% endif %}
                        {% if page.metadata.author is defined and page.metadata.author %}
                            {{ page.metadata.author }}
                        {% else %}
                            <abbr title="Anonymous author">Anon.</abbr>
                        {% endif %}
                    {% else %}
                        No license has been specified for this work.
                    {% endif %}

                    {% if page.metadata.pd_year is defined and page.metadata.pd_year %}
                        <br>
                        This work
                        {% if page.metadata.pd_year > 'now'|date('Y') %}will enter{% else %}entered{% endif %}
                        the public domain in {{ page.metadata.pd_year }}.
                    {% endif %}
                </p>

            </div>

        </div><!-- .row -->

        <article class="container">
            {{ page.body|md2html|raw }}
        </article>

        {% if page.metadata.images is defined and page.metadata.images %}
            <h3 id="images" class="mt-4">Images</h3>
            <p>
                {% if page.metadata.images|length == 1 %}
                    The image below links to its canonical record.
                {% else %}
                    The images below are linked to their canonical records.
                {% endif %}
            </p>
            <div class="row">
                {% for idx,image in page.metadata.images %}
                    {% set imgHref = '' %}
                    {% set imgSrc = '' %}
                    {% if image.flickr is defined %}
                        {% set flickr = flickr(image.flickr) %}
                        {% set imgHref = flickr.urls.photopage %}
                        {% set imgSrc = flickr.urls.medium_image %}
                    {% elseif image.commons is defined %}
                        {% set commons = commons(image.commons) %}
                        {% set imgHref = commons.imageinfo.0.descriptionurl %}
                        {% set imgSrc = commons.imageinfo.0.thumburl %}
                    {% endif %}
                    <figure class="figure col-md-2">
                        <a href="{{ imgHref }}">
                            <img src="{{ imgSrc }}" class="figure-img img-fluid rounded" />
                        </a>
                        <figcaption class="figure-caption text-center">
                            {{image.caption}}
                            <span class="printonly"><br /><code>{{ imgHref }}</code></span>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        {% endif %}

        {% set subitems = database.query('SELECT * FROM pages WHERE parent_item = '~(page.id|basename)).fetchAll() %}
        {% if subitems %}
            <div id="subitems">
                <h3>Sub-items</h3>
                <div class="row">
                    {% for item in subitems %}
                        {{ macros.gallery_item(site, page, item) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

    {{ macros.utterances() }}

{% endblock %}
