{% extends '_base.html.twig' %}

{% block main %}
    {% import '_macros.twig' as macros %}

    <h1>People</h1>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Person</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
            <th>Wikipedia</th>
            <th>Wikidata</th>
            <th>WikiTree</th>
            <th>FamilySearch</th>
        </tr>
        </thead>
        <tbody>
            {% for person in database.query('SELECT * FROM pages WHERE template="person" ORDER BY title ASC').fetchAll() %}

                {% set wditem = false %}
                {% if person.wikidata %}
                    {% set wditem = wikidata( person.wikidata ) %}
                {% endif %}

                <tr>
                    <td><a href="{{ page.link(person.id) }}.html">{{ person.title }}</a></td>
                    <td>
                        {% if person.birth_date %}
                            {{ macros.date(person.birth_date, person.birth_date_precision) }}
                        {% endif %}
                        {% if wditem.claims.P569 is defined %}
                            {{ wditem.claims.P569.0.mainsnak.datavalue.value.time|date('j F Y') }}</td>
                        {% endif %}
                    </td>
                    <td>
                        {% if person.death_date %}
                            {{ macros.date(person.death_date, person.death_date_precision) }}
                        {% endif %}
                        {% if wditem.claims.P570 is defined %}
                            {{ wditem.claims.P570.0.mainsnak.datavalue.value.time|date('j F Y') }}</td>
                        {% endif %}
                    </td>
                    <td>
                        {% if wditem.sitelinks.enwiki.title is defined %}
                            <a href="https://en.wikipedia.org/wiki/{{ wditem.sitelinks.enwiki.title|replace({' ':'_'}) }}">
                                {{ wditem.sitelinks.enwiki.title }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="small">
                        {% if wditem %}
                            <a href="https://www.wikidata.org/wiki/{{ wditem.id }}" title="{{ wditem.labels.en.value }}">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/20px-Wikidata-logo.svg.png"
                                    alt="Small Wikidata logo" />
                                {{ wditem.id }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="small">
                        {% if wditem and wditem.claims.P2949 is defined %}
                            <a href="https://www.wikitree.com/wiki/{{ wditem.claims.P2949.0.mainsnak.datavalue.value }}"
                                title="View on WikiTree">
                                {{ wditem.claims.P2949.0.mainsnak.datavalue.value }}</a>
                        {% endif %}
                    </td>
                    <td class="small">
                        {% if wditem and wditem.claims.P2889 is defined %}
                            <a href="https://www.familysearch.org/tree/person/details/{{ wditem.claims.P2889.0.mainsnak.datavalue.value }}">
                                {{ wditem.claims.P2889.0.mainsnak.datavalue.value }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
